            /* Navbar, body y footer */
            
            body {
                background-image: url(../img/header_background.jpg);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 63rem;
            }
            
            .barra-superior {
                display: flex;
                justify-content: space-between;
                list-style: none;
                text-decoration: none;
            }
            
            * {
                color: rgb(255, 255, 255);
            }
            
            .navegacion__li {
                list-style: none;
            }
            
            .navegacion__enlace,
            .enlace-logo {
                text-decoration: none;
            }
            
            .barra-superior,
            .navegacion__ul,
            .navegacion,
            .barra-izquierda {
                display: flex;
                font-size: 10;
            }
            
            .navegacion__ul:hover,
            .navegacion:hover {
                font-size: 18px;
                transition: font-size 0.5s ease 0s;
                text-shadow: -6px 2px 10px white;
            }
            
            .navegacion,
            .barra-izquierda {
                align-items: center;
            }
            
            .barra-superior {
                justify-content: space-between;
                width: 110rem;
                margin: 0 auto;
                padding-right: 0rem;
            }
            
            .navegacion__enlace {
                margin: 0 10px;
                color: rgb(255, 255, 255);
            }
            
            .titulo-1 {
                text-decoration: none;
            }
            
            .footer-1 {
                position: absolute;
                bottom: 0%;
            }
            /* index.html */
            
            .contenedor-1 {
                width: 45rem;
                margin: 10rem;
            }
            /* Habilidades */
            
            .grid-habs {
                padding-top: 5rem;
            }
            
            .logo-css,
            .logo-html,
            .logo-javascript,
            .logo-react {
                width: 10rem;
                height: 10rem;
            }
            /* Contacto */
            
            .imagen-l,
            .imagen-fc,
            .imagen-g,
            .imagen-ig {
                width: 10rem;
                height: 10rem;
            }
            /* CV */
            
            .img-cv {
                border-radius: 5%;
            }
            /* Responsive */
            
            @media screen and (max-width: 1440px) {
                body {
                    background-image: url(../img/header_background.jpg);
                    background-position: center;
                    background-size: cover 100%;
                    background-repeat: no-repeat;
                    position: relative;
                    height: 1440px;
                    width: 903px;
                }
                .titulo-1 {
                    font-size: 30px;
                    display: flex;
                }
                .contenedor-1 {
                    width: 45rem;
                    margin: 10rem;
                }
            }
            
            @media screen and (max-width: 1024px) {
                body {
                    background-image: url(../img/header_background.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    height: 1658px;
                    width: 903px;
                }
                .titulo-1 {
                    width: 22rem;
                    height: 2rem;
                }
                .contenedor-1 {
                    width: 45rem;
                    margin: 7rem;
                }
            }
            
            @media screen and (max-width: 768px) {
                body {
                    background-image: url(../img/header_background.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    height: 2162px;
                    width: 903px;
                }
                .titulo-1 {
                    width: 21rem;
                    height: 2rem;
                }
                .contenedor-1 {
                    width: 45rem;
                    margin: 1rem;
                }
                .img-cv {
                    height: 38rem;
                    width: 31rem;
                    border-radius: 5%;
                }
            }
            
            @media screen and (max-width: 425px) {
                body {
                    background-image: url(../img/header_background.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;
                    height: 118rem;
                    width: 903px;
                }
                .imagen-l,
                .imagen-fc,
                .imagen-g,
                .imagen-ig {
                    width: 50rem;
                    height: 10rem;
                }
                .tamaño-footer {
                    font-size: 20px;
                }
                .p-ipsum {
                    height: 10rem;
                    width: 10rem;
                    font-size: 15px;
                }
                .contenedor-1 {
                    width: 45rem;
                    margin: 2rem;
                }
                .img-cv {
                    height: 30rem;
                    width: 23rem;
                    border-radius: 5%;
                }
                .card-text {
                    height: 3rem;
                    width: 20rem;
                }
            }