.grid-habs {
    padding-top: 5rem;
    .habs-titulo .div-texto-habilidades {
        display: flex;
        justify-content: center;
    }
}

.logos {
    width: 10rem;
    height: 10rem;
    margin: auto;
    display: block;
}

.habilidades-1 {
    padding-top: 1rem;
    padding-left: 5rem;
}