body {
    background-image: url(../img/header_background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 62rem;
}

* {
    color: rgb(255, 255, 255);
}

.footer-1 {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.text-center {
    height: 45px;
    width: 100%;
}